#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
/.vs/

package-lock.json
.DS_Store

# Code Coverage Folder
coverage/

#Node Modules
/node_modules

**/adasdasdsdasd
server/.env
server/assets/images/differences/1.json
server/assets/images/modified/1.bmp
server/assets/images/original/1.bmp
server/.env
