<div class="container">
    <section class="top-area">
        <button>Abandonner</button>
        <app-game-timer></app-game-timer>
        <p>*autre information*</p>
    </section>
    <section class="play-area-container">
        <app-play-area></app-play-area>
        <div class="between-images">
            <button>LOUPE</button>
            <p>yo il te reste * différences</p>
        </div>
        <app-play-area></app-play-area>
    </section>
    <section class="bottom-area">
        <app-game-chat></app-game-chat>
        <p>*Informations de la partie*</p>
    </section>
</div>
