<app-scale-container>
    <div class="container">
        <section id="top-area">
            <button mat-button [routerLink]="closePath"><span>Abandonner</span></button>
            <app-game-timer></app-game-timer>
            <div id="diff-counter">
                <div *ngIf=playerName class="player-counter">
                    <span class="diff-self">{{playerName + ': '}}</span>
                    <app-counter></app-counter>
                    <span class="diff-self">différences trouvées</span>
                </div>
                <div *ngIf="isMultiplayer" class="player-counter">
                    <span class="diff-friend">Eugène Poubelle :</span>
                    <span> 12321313123 </span>
                    <span class="diff-friend">différences trouvées</span>
                </div>
            </div>
        </section>
        <section id="play-area-container">
            <app-play-area [isDiff]="false" [image]="originalImageSrc" (click)="clickedOnOriginal($event)" #originalPlayArea></app-play-area>
            <div id="between-images">
                <button mat-button>
                    <span> <mat-icon>image_search</mat-icon></span>
                </button>
                <p>{{ nbHints }}</p>
                <span id="nb-hints">indices restants</span>
            </div>
            <app-play-area [isDiff]="true" [image]="diffImageSrc" (click)="clickedOnDiff($event)" #diffPlayArea></app-play-area>
        </section>
        <section id="bottom-area">
            <app-game-chat></app-game-chat>
            <div id="info-game" *ngIf="currentLevel">
                <div>
                    <span class="info-question">Jeu : </span><span class="info-answer">{{ currentLevel.name }}</span>
                </div>
                <div>
                    <span class="info-question">Difficulté : </span
                    ><span class="info-answer">{{ currentLevel.isEasy ? 'Facile' : 'Difficile' }}</span>
                </div>
                <div>
                    <span class="info-question">Mode de jeu : </span
                    ><span class="info-answer">{{ isClassicGamemode ? 'Classique' : 'Temps Limité' }}</span>
                </div>
                <div>
                    <span class="info-question">Différences totale: </span><span class="info-answer">{{ nbDiff }}</span>
                </div>
                <div>
                    <span class="info-question">Pénalité indice : </span><span class="info-answer">{{ hintPenalty + ' secondes' }}</span>
                </div>
            </div>
        </section>
    </div>
</app-scale-container>
