.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #355070;
}

#top-area {
    display: grid;
    grid-template-columns: 0.1fr 0.22fr 0.36fr 0.22fr;
    align-items: center;
    height: 10%;
    background-color: #36485d;
}

#top-area #exit {
    background-color: #eaac8b00;
    text-align: center;
    border: 2px solid #f63b3b;
    transition: 0.2s;
    margin: 30px;
    max-height: 38px;
}

#top-area #exit span {
    color: #f63b3b;
    border: none;
    transition: 0.2s;
    font-size: 200%;
}

#top-area #exit:hover {
    transition: 0.3s;
    background-color: #f63b3b;
    transform: rotate(3deg) scale(1.1);
}

#top-area #exit:hover span {
    transition: 0.3s;
    color: #355070;
}

#creation-area-container {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 65%;
    padding: auto;
}

#between-images {
    width: 135px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#between-images span {
    padding-top: 10px;
    padding-bottom: 200px;
    font-weight: 500;
    font-size: 1.3em;
    color: red;
}

#between-images .button-settings {
    margin-top: 10px;
}

#upload-both {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.mat-icon {
    color: white;
    vertical-align: middle;
    padding-bottom: 2px;
}

.mat-darkblue {
    background-color: rgb(21, 21, 132);
    color: #fff;
}

.zone-txt {
    text-align: center;
    color: white;
    font-size: 2em;
    margin-top: 10px;
}

.info-txt {
    text-align: center;
    color: #eaac8b;
    font-size: 1.5em;
}

.answer-txt {
    text-align: center;
    color: #3ab138;
    font-size: 2em;
}

.zone-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 5px;
    background-color: #36485d;
}

.tools-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: #36485d;
    margin: 10px;
    // outline-style: solid;
    // outline-color: #eaac8b;
}

.tools-container span{
    margin-top: 10px;
}

.slider-container {
    display: flex;
    flex-direction: row;
}

.slider-container label {
    margin: auto;
    padding-right: 10px;
}

#bottom-area {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    height: 20%;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

#bottom-area button {
    margin: 5px;
}

#diff-nb-note {
    font-weight: bolder;
    font-size: 1.7em;
}

.button-reset {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    border-radius: 60px;
    border: none;
    color: #fff;
    background: #f63b3b;
    cursor: pointer;
}

.button-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    border-radius: 60px;
    border: none;
    color: #fff;
    background: orange;
    cursor: pointer;
}

.button-disabled {
    opacity: 0.5;
}

.error {
    color: red;
    font-size: 1.5em;
}

input[type='file'] {
    display: none;
}

.display-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.display-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    height: 480px;
}

.canvas-action {
    background-color: #36485d;
}

.undo-redo {
    width: 30px;
    height: auto;
}

.button-icon {
    width: 24px;
    height: auto;
}
