.timer {
    width: 100px;
    height: 25px;
    background: #99d3ff;
    border-radius: 15px;
    text-align: center;
    padding-top: 5px;
}

.add-time {
    width: 100px;
    height: 25px;
    background: #00ff37;
    border-radius: 25px;
    border-color: #002207;
    text-align: center;
    padding-top: 5px;
}
