<div class="container">
    <section id="top-area">
        <button mat-button><span>Retour</span></button>
    </section>
    <section id="creation-area-container">
        <div class="img-zone-container">
            <p>Image originale</p>
            <app-play-area *ngIf="modifiedArea"></app-play-area>
            <app-play-area id="original-play-area" [currentImgSrc]="'./assets/un_regal.bmp'"></app-play-area>
            <div class="zone-button-container">
                <button class="button-settings" color="orange">
                   Téléverser Image Originale
                  <mat-icon>add_a_photo</mat-icon>
                </button>
                <button class="button-reset" color="orange">
                    Réinitialiser La Zone
                    <mat-icon>restart_alt</mat-icon>
                </button>
            </div>
        </div>
        <div id="between-images">
            <button class="button-settings" color="orange">
                Téléverser Image Commune
                <mat-icon>add_a_photo</mat-icon>
            </button>
        </div>
        <div class="img-zone-container" >
            <p>Image modifiée</p>
            <app-play-area *ngIf="modifiedArea"></app-play-area>
            <app-play-area id="modofied-play-area" [currentImgSrc]="'./assets/un_regal.bmp'"></app-play-area>
            <div class="zone-button-container">
                <button class="button-settings" color="orange">
                   Téléverser Image Modifiée
                   <mat-icon>add_a_photo</mat-icon>
                </button>
                <button class="button-reset" color="orange">
                    Réinitialiser La Zone
                    <mat-icon>restart_alt</mat-icon>
                </button>
            </div>
        </div>
    </section>
    <section id="bottom-area">
        <div class="enlargissement-container">
            <p>Rayon d'élargissement</p>
        </div>
        <input type="file" (change)="onFileChange($event)">
</section>
</div>
