<div id="carouselExampleControls" class="carousel slide">
    <div class="carousel-inner" role="listbox">
        <div class="leaderboards">
            <div class="solo-leaderboard" *ngIf="selectedButton === 'solo'">
                <table width="100%">
                    <thead>
                        <tr>
                            <td class="name-column"><b>SOLO</b></td>
                            <td class="time-column"><b>Time</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="80%" class="name-column">{{ this.level.playerSolo[0] }}</td>
                            <td width="20%" class="time-column">{{ this.formatTime(this.level.timeSolo[0]) }}</td>
                        </tr>
                        <tr>
                            <td width="80%" class="name-column">{{ this.level.playerSolo[1] }}</td>
                            <td width="20%" class="time-column">{{ this.formatTime(this.level.timeSolo[1]) }}</td>
                        </tr>
                        <tr>
                            <td width="80%" class="nameColumn">{{ this.level.playerSolo[2] }}</td>
                            <td width="20%" class="time-column">{{ this.formatTime(this.level.timeSolo[2]) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="multi-leaderboard" *ngIf="selectedButton === 'multi'">
                <table width="100%">
                    <thead>
                        <tr>
                            <td><b>1v1</b></td>
                            <td><b>Time</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="80%" class="name-column">{{ this.level.playerMulti[0] }}</td>
                            <td width="20%" class="time-column">{{ this.formatTime(this.level.timeMulti[0]) }}</td>
                        </tr>
                        <tr>
                            <td width="80%" class="name-column">{{ this.level.playerMulti[1] }}</td>
                            <td width="20%" class="time-column">{{ this.formatTime(this.level.timeMulti[1]) }}</td>
                        </tr>
                        <tr>
                            <td width="80%" class="nameColumn">{{ this.level.playerMulti[2] }}</td>
                            <td width="20%" class="time-column">{{ this.formatTime(this.level.timeMulti[2]) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="action">
        <button type="button" (click)="changeButtonStyle('multi')" *ngIf="selectedButton === 'solo'" class="toggle">
            <button type="button" class="button-leaderboard selected"></button>
            <button type="button" class="button-leaderboard"></button>
        </button>

        <button type="button" (click)="changeButtonStyle('solo')" *ngIf="selectedButton === 'multi'" class="toggle">
            <button type="button" class="button-leaderboard"></button>
            <button type="button" class="button-leaderboard selected"></button>
        </button>
    </div>
</div>
