.name-column {
    text-align: left;
}

.time-column {
    text-align: left;
}

.action {
    width: 20%;
    border-radius: 0.5rem;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.20);
}

.button-leaderboard{
    background-color: rgba(255, 255, 255, 0.233);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border-color: transparent;
    margin: 4px 3px;
}

.selected {
    background-color: white;
    color: #fff;
}

.button-leaderboard:hover {
    background-color: #1e293b;
    color: #fff;
}
