<div class="container">
    <div class="grid-container">
        <span class="title">Jeu de différences</span>
        <img class="image" src="https://bit.ly/3QofL1J" alt="Logo Projet" />
        <div class="buttons">
            <button class="button" (click)="getMessagesFromServer()">Classique</button>
            <button class="button" (click)="sendTimeToServer()">Temps limite</button>
            <button class="button" routerLink="/material">Configuration</button>
        </div>
    </div>

    <footer class="footer-item">
        <h4 class="team-name">Équipe Poly</h4>
        <p>
            <span>Charles Degrandpré</span>, <span>Simon Gagné</span>, <span>Galen Hu</span>, <span>Junaid
                Qureshi</span>,
            <span>Louis Félix St-Amour</span>, <span>Pierre Tran</span>
        </p>
    </footer>
</div>
