.background {
    background-color: #355070;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
.header-item {
    text-align: right;
    padding: 10px;
}

/* Body */
.body-item {
    padding-left: 20vh;
    align-self: left;
}

h1 {
    text-transform: uppercase;
    font-family: Trebuchet MS, sans-serif;
    color: #eaac8b;
}

p {
    font-family: Trebuchet MS, sans-serif;
    color: black;
    margin: 0 0 0;
}
.title-container {
    align-self: left;
    font-size: 5rem;
    // margin-top: 5vh;
}

.title-top {
    align-self: right;
    font-size: 3rem;
    margin-left: 1.2vh;
}

.title-bottom {
    align-self: right;
    margin-top: 7vh;
    font-size: 8rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    margin-top: 10vh;
    margin-left: 2vh;

    button + button {
        margin-top: 3rem;
    }
}

.menu-button {
    background-color: #eaac8b00;
    padding: 5px;
    text-align: center;
    border: 2px solid #eaac8b;
    transition: 0.2s;
    width: 40vh;
    height: 8vh;
}

.menu-button span {
    color: #eaac8b;
    border: none;
    transition: 0.2s;
    font-size: 200%;
}

.menu-button:hover {
    transition: 0.3s;
    background-color: #eaac8b;
    transform: rotate(3deg) scale(1.1);
}

.menu-button:hover span {
    transition: 0.3s;
    color: #355070;
}

/* Footer */
.footer-item {
    margin-top: auto;
    text-align: right;
    padding: 10px;
}

.picture {
    position: absolute;
    top: 50%;
    right: 0;
    padding-top: 20vh;
    padding-right: 0vh;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: green;
}

/* Components */
.side-button {
    position: relative;
    width: 50px;
    height: 50px;
    border-color: transparent;
    background-color: #eaac8b;
    padding: 5px;
    border-radius: 50%;
    color: white;
    z-index: 11;
}

.side-button:hover {
    transition: 0.1s;
    border-color: white;
}

.mat-icon {
    color: white;
    vertical-align: middle;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

.credit-container {
    text-align: left;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #f9d7c0;
    border-top: 4px solid #eaac8b;
    border-left: 4px solid #eaac8b;
    border-radius: 15px 0 0 0px;
    padding: 1.5vh;
    padding-bottom: 8vh;
    z-index: 10;
    display: none;
}

/* Properties */
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
