.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title-container {
    align-self: center;
    font-size: 5rem;
    margin-top: 15vh;
}
.title-top {
    align-self: center;
    font-size: 2rem;
}
.title-bottom {
    align-self: center;
    font-size: 5rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    padding-left: 47%;
    button + button {
        margin-top: 3rem;
    }
}

.picture {
    position: absolute;
    top: 50%;
    right: 0;
    padding-right: 50vh;
}
h1 {
    text-transform: uppercase;
    font-family: Trebuchet MS, sans-serif;
    color: #eaac8b;
}

.background {
    background-color: #355070;
}

.button {
    background-color: #eaac8b;
    text-align: center;
    height: 5vh;
    width: 10rem;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: green;
}

.footer-item {
    margin-top: auto;
    text-align: center;
}
.header-item {
    text-align: right;
}

.button-frame {
    background-color: #eaac8b;
    padding: 20px;
    border-radius: 50%;
    color: white;
}
.footer-item p :nth-child(even) {
    color: orange;
}
.footer-item p :nth-child(odd) {
    color: blue;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}
