/* Header */
.header-item {
    aspect-ratio: 10/1;
    box-sizing: border-box;
    position: relative;
    max-height: 100vh;
    text-align: right;
    padding: 10px;
}

/* Body */
.body-item {
    justify-content: center;
    padding-left: 10rem;
}

h1 {
    text-transform: uppercase;
    font-family: Trebuchet MS, sans-serif;
    color: #eaac8b;
}

p {
    font-family: Trebuchet MS, sans-serif;
    color: black;
    margin: 0 0 0;
}

.title-container {
    display: flex;
    flex-direction: row;
}

.title-img-container {
    padding-left: 5rem;
    width: 11rem;
    height: 11rem;
}

.title-top {
    font-size: 3rem;
    line-height: 1rem;
    margin-left: 0.5rem;
}

.title-bottom {
    line-height: 8rem;
    font-size: 8rem;
}

.button-container {
    margin-top: 5rem;
    margin-left: 1rem;

    button + button {
        margin-top: 3rem;
    }
}

.menu-button {
    background-color: #eaac8b00;
    padding: 5px;
    text-align: center;
    border: 2px solid #eaac8b;
    transition: 0.2s;
    width: 25rem;
    height: 5rem;
}

.menu-button span {
    color: #eaac8b;
    border: none;
    transition: 0.2s;
    font-size: 200%;
}

.menu-button:hover {
    transition: 0.3s;
    background-color: #eaac8b;
    transform: rotate(3deg) scale(1.1);
}

.menu-button:hover span {
    transition: 0.3s;
    color: #355070;
}

/* Footer */
.footer-item {
    margin-top: auto;
    text-align: right;
    padding: 10px;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: green;
}

/* Components */
button {
    cursor: pointer;
}

.side-button {
    position: relative;
    width: 50px;
    height: 50px;
    border-color: transparent;
    background-color: #eaac8b;
    padding: 5px;
    border-radius: 50%;
    color: white;
    z-index: 11;
}

.side-button:hover {
    transition: 0.1s;
    border-color: white;
}

.mat-icon {
    color: white;
    vertical-align: middle;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

.credit-container {
    text-align: left;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #f9d7c0;
    border-top: 4px solid #eaac8b;
    border-left: 4px solid #eaac8b;
    border-radius: 15px 0 0 0px;
    padding: 1.5rem;
    padding-bottom: 8rem;
    z-index: 10;
}

#magnifying-glass {
    max-width: 5rem;
    max-height: 5rem;
    animation: hover-around 15s ease-in-out infinite;
}

@keyframes hover-around {
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate(-10px, -60px) rotate(-15deg);
    }
    40% {
        transform: translate(-20px, 30px) rotate(10deg);
    }
    50% {
        transform: translate(-5px, -2px) rotate(-15deg);
    }
    60% {
        transform: translate(30px, -70px) rotate(-5deg);
    }
    80% {
        transform: translate(40px, 40px) rotate(9deg);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
