<div class="container background">
    <header class="header-item">
        <mat-icon fontIcon="home"></mat-icon>
    </header>


    <div class="grid-container">
        <h1 class="title">Jeu de différences</h1>

        <img class="image" src="https://bit.ly/3QofL1J" alt="Logo Projet" />
        <div class="buttons-container">
            <div class="buttons">
                <button class="button" (click)="getMessagesFromServer()">Classique</button>
                <button class="button" (click)="sendTimeToServer()">Temps limite</button>
                <button class="button" routerLink="/material">Configuration</button>
            </div>
        </div>
    </div>

    <footer class="footer-item">
        <h4 class="team-name">Équipe Poly</h4>
        <p>
            <span>Charles Degrandpré</span>, <span>Simon Gagné</span>, <span>Galen Hu</span>, <span>Junaid Qureshi</span>,
            <span>Louis Félix St-Amour</span>, <span>Pierre Tran</span>
        </p>
    </footer>
</div>
