#content {
    display: flex;
}

#sender {
    white-space: nowrap;
    margin-right: 10px;
}

.player {
    color: blue;
}

.opponent {
    color: red;
}

.system {
    color: yellow;
}

#sender > p {
    display: inline-block;
}
