#message-outer-box {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100%;
}

#content {
    display: flex;
}

#sender {
    flex-basis: 25%;
    max-width: 13ch;
    text-overflow: ellipsis;
}

.player1 {
    color: red;
}

.player2 {
    color: blue;
}

#sender > p {
    display: inline-block;
}

#message-text {
    flex-basis: 75%;
}
