#content {
    display: flex;
}

#sender {
    white-space: nowrap;
    margin-right: 10px;
}

.player {
    color: blue;
}

.opponent {
    color: red;
}

.system {
    color: yellow;
}

#sender > p {
    display: inline-block;
}

#message-text {
    word-break: break-all; /* break words that exceed the width of the div */
    display: inline-block; /* allow the div to be sized by its content */
    width: 286px; /* set the maximum width of the div */
}
