<div class="message-box">
    <div id="sender" class="sender">
        <p>[</p>
        <p id="sender-name">{{ displayName }}</p>
        <p>]</p>
    </div>
    <textarea type="text" id="message-input" class="message-input" placeholder="Type message..."></textarea>
    <!--<textarea id="message-input" placeholder="Type a message..."></textarea>-->
    <mat-icon>send</mat-icon>
    <!--<button id="send-message" type="submit" class="message-submit">Send</button>-->
    <!--<form class="example-form">
        <mat-form-field appearance="fill" id="form-field">
            <mat-label>Tell your opponent he's trash</mat-label>
            <textarea id="message-to-send" matInput placeholder="Ex. You trash son..."></textarea>
        </mat-form-field>
    </form>-->
</div>
