.cornerButton {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 4.5vw;
    border-radius: 50%;
    background-color: #3b7ff6;
    font-size: 1.5rem;
}

.top-bar-container {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 4.5vw;
    padding-top: 20px;
    margin-bottom: 20px;
}

.selection-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.bottom-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15rem;
    padding-bottom: 20px;
    width: 100%;
}

.page-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    border-radius: 60px;
    border: none;
    color: #fff;
    background: #3b7ff6;
}

.button-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    margin-left: 2em;
    border-radius: 60px;
    border: none;
    color: #fff;
    background: #f63b3b;
    cursor: pointer;
}

.mat-orange {
    background-color: orange;
    color: #fff;
}

.mat-darkblue {
    background-color: rgb(21, 21, 132);
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #355070;
}
