<mat-card *ngIf="level" class="card">
    <img mat-card-image src="{{ level.image }}" class="thumbnail" />
    <mat-card-title>{{ level.name }} - {{ difficulty }}</mat-card-title>
    <mat-card-content>
        <mat-card-header>LeaderBoard - Top 3</mat-card-header>
        <app-carousel [level]="this.level"></app-carousel>
        <!-- <img mat-card-image src="{{ level.difficulty }}" class="difficulty"> -->
        <mat-card-actions>
            <button routerLink="/game" mat-raised-button>Solo</button>
            <button mat-raised-button>1v1</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
