.thumbnail {
    width: 90%;
    height: 100%;
}

.difficulty {
    width: 50%;
}

.card{
    width: 260px;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
}

.stretched-tabs {
    max-width: 200px;
  }
  