<div *ngIf="level" class="card">
    <h2 class="level-name">{{ level.name }}</h2>
    <div class="image-container">
        <img src="{{ level.image }}" class="thumbnail" alt="{{ level.name }}" />
        <img src="{{ displayDifficultyIcon(level.isEasy) }}" alt="{{ difficulty }}" class="difficulty-icon" />
    </div>
    <div class="card-content">
        <div class="carousel-container">
            <p class="leaderboard-title">LeaderBoard - Top 3</p>
            <app-carousel [level]="this.level" [index]="this.level.id"></app-carousel>
        </div>
        <div class="card-action">
            <div class="action-button-container">
                <button routerLink="/game" mat-raised-button class="action-button">Solo</button>
                <button mat-raised-button class="action-button">1v1</button>
            </div>
        </div>
    </div>
</div>
