.thumbnail {
    width: 90%;
    height: 100%;
}

.difficulty {
    width: 50%;
}

.card {
    width: 260px;
    background-color: #3896a4;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
}
