<!--
Inspired by https://dribbble.com/supahfunk
-->
<section class="avenue-messenger">
    <div class="chat">
        <div class="messages">
            <!-- Add une for loop for every message? -->
            <div *ngFor="let message of messages">
                <app-chat-message [message]="message"></app-chat-message>
            </div>
        </div>
        <div class="message-box">
            <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
            <button type="submit" class="message-submit">Send</button>
        </div>
    </div>
</section>
