.top-bar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
}
.selection-card-container {
    vertical-align: middle;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.bottom-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    position: absolute;
    bottom: 20px;
}
.page-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    border-radius: 60px;
    border: none;
    color: #fff;
    background: #3b7ff6;
}
.mat-orange {
    background-color: orange;
    color: #fff;
}
.mat-darkblue {
    background-color: rgb(21, 21, 132);
    color: #fff;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-height: 100vh;
    background-color: #355070;
}
