<app-scale-container>
    <div class="container">
        <header class="top-bar-container">
            <button mat-fab color="darkblue" routerLink="/home">
                <mat-icon>home</mat-icon>
            </button>
        </header>

        <body *ngIf="levelService.levelsToShow" class="selection-card-container">
            <app-card *ngFor="let level of levelService.levelsToShow" [level]="level" [isSelectionPage]="true"
                (startGameDialogEvent)="selectionPageService.startGameDialog($event)"></app-card>
        </body>

        <footer class="bottom-container">
            <button mat-fab id="arrow_back" color="orange" [disabled]="levelService.isBeginningOfList()"
                (click)="levelService.previousPage()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <p class="page-display">Page {{ levelService.currentPage + 1 }}/{{ levelService.lastPage + 1 }}</p>
            <button mat-fab id="arrow_forward" color="orange" [disabled]="levelService.isEndOfList()"
                (click)="levelService.nextPage()">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </footer>
    </div>
</app-scale-container>