<div class="container background">
    <div class="top-bar-container">
        <p class="page-display">Page {{ currentPage + 1 }}</p>
    </div>
    <div class="selection-card-container">
        <app-card *ngFor="let level of levelToShow" [level]="level"></app-card>
    </div>

    <div class="bottom-container">
        <button mat-fab color="orange" [disabled]="isBeginningOfList()" (click)="previousPage()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-fab color="darkblue" routerLink="/home">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-fab color="orange" [disabled]="isEndOfList()" (click)="nextPage()">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
</div>
