<div class="flex-container" class="top-bar-container">
    <button mat-fab color="primary" routerLink="/home">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <app-game-timer></app-game-timer>
    <button mat-fab routerLink="/selection">Selection</button>
</div>

<div class="flex-container" class="selection-card-container" *ngFor="let level of levels">
    <app-card [level]="level"></app-card>
</div>

<div class="flex-container" class="bottom-container">
    <button mat-fab color="primary" routerLink="/home">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <app-game-timer></app-game-timer>
    <button mat-fab routerLink="/selection">Selection</button>
</div>
<!--<p *ngIf="level.title">Description: {{ level.title }}</p>-->
