.top-bar-container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-right: 20px;
    padding-top: 20px;
    margin-bottom: 140px;
    margin-left: 20px;
}

.selection-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    height: 600px;
}

.bottom-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 140px;
    padding-bottom: 20px;
    width: 100%;
}

.page-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    border-radius: 60px;
    border: none;
    color: #fff;
    background: #3b7ff6;
}

.mat-orange {
    background-color: orange;
    color: #fff;
}

.mat-darkblue {
    background-color: rgb(21, 21, 132);
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #355070;
}
