.top-bar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
}
.selection-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
}
.bottom-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.page-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    border-radius: 60px;
    border: none;
    color: #fff;
    background: #3b7ff6;
}
.button-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;

    color: #fff;
    background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-10:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
        0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.mat-orange {
    background-color: orange;
    color: #fff;
}
.mat-darkblue {
    background-color: rgb(21, 21, 132);
    color: #fff;
}
.container {
    min-height: 100vh;
    height: auto;
}
.background {
    background-color: #355070;
}
