.corner-button {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: #3b7ff6;
    font-size: 1.5rem;
}

.top-bar-container {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    padding-right: 20px;
    padding-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.selection-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    height: 700px;
}

.bottom-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 20px;
    width: 100%;
}

.page-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 25px;
    border-radius: 60px;
    color: #eaac8b;
    background: transparent;
    border: 1px solid #eaac8b;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #355070;
}

.global-variable-container {
    border: 2px solid #eaac8b;
    color: #eaac8b;
    padding: 20px;
    border-radius: 10px;
}

mat-form-field {
    width: 400px;
    padding-inline: 20px;
    font-size: large;
}

mat-form-field input {
    color: white;
}

.side-button {
    position: relative;
    width: 50px;
    height: 50px;
    border-color: transparent;
    background-color: #eaac8b;
    padding: 5px;
    border-radius: 50%;
    color: white;
    z-index: 11;
    cursor: pointer;
}

.side-button:hover {
    transition: 0.1s;
    border-color: white;
}

.side-button:disabled {
    color: black;
    background-color: rgba(0, 0, 0, 0.26);
    border-color: transparent !important;
    cursor: default;
}

.menu-button {
    background-color: #eaac8b00;
    text-align: center;
    border: 2px solid #eaac8b;
    transition: 0.2s;
    color: #eaac8b;
    font-size: 100%;
}

.menu-button span {
    padding-right: 10px;
}

.menu-button:hover {
    transition: 0.2s;
    background-color: #eaac8b;
    transform: translate(0px, 5px) scale(1.1);
    color: #355070;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.sub-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

mat-hint {
    color: #eaac8b !important;
}
