<body>
    <label for="default">Default image:</label>
    <input type="file" name="default image" id="default" (change)="defaultImageSelector($event)" />
    <label for="default">Diff image:</label>
    <input type="file" name="diff image" id="diff" (change)="diffImageSelector($event)" />
    <label for="values">Choose a radius:</label>
    <select name="values" [(ngModel)]="radius">
        <option value="0">0</option>
        <option default value="3">3</option>
        <option value="9">9</option>
        <option value="15">15</option>
    </select>
    <button>Check for diff</button>
</body>
